<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inventario</title>
</head>
<body>
    <h1>Inventario</h1>

    <table border="1">
        <tr>
            <th>Número</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Estado</th>
        </tr>

        {% for fila in datos %}
        <tr>
            <td>{{ fila["Numero de pieza"] }}</td>
            <td>{{ fila["Nombre"] }}</td>
            <td>{{ fila["Cantidad"] }}</td>
            <td>{{ fila["Estado"] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
